.logo{
    width: 100%;
    max-width: 300px;
    float: left;
}
#logo {
    width: 150px;
}
nav{
    width: 100%;
    max-width: 100px;
}
nav ul {
    height: 100px;
    padding: 20px 0px;
    background-color: rgba(23, 21, 21, 0.896);
}
nav ul li {
    display: inline;
    padding: 20px 25px;
    list-style: none;
}
nav ul li:hover{
    background-color: green rgba(5, 150, 107, 0.916)
}
nav ul li:hover a{
    color: red;
}
nav ul li a{
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}