#tabel1{
    /* border: 1px red solid; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
}
#tabel1 tr td, #tabel1 tr th{
    border: 1px blue double;
    padding: 15px;
}
#tabel1 tr th{
    color: greenyellow;
    background-color: rgb(44, 42, 42);
}
#tabel1 tbody tr:nth-child(2n){
    background-color: rgb(222, 204, 44);
}
#tabel1 tbody tr:nth-child(2n+1){
    background-color: rgb(27, 226, 47);
}
#tabel1 tfoot tr{
    background-color: rgb(5, 73, 5);
    color: #ffffff;
}
.tabel{
    margin: auto;
    width: 600px;
    text-align: center;
}
 
    
